---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args:
          - "--profile"
          - "black"

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.34
    hooks:
      - id: pymarkdown
        args: ["-d", "md014,md013", "scan"]

  - repo: local
    hooks:
      - id: gitleaks-with-signature
        name: Gitleaks secret detection with signature
        entry: .pre-commit-hooks/gitleaks-with-signature.sh
        language: script
        pass_filenames: false

...
